include ./mixins/index.pug
block root_variables
  - active_page = 'index'

doctype html
html(lang='en')
  block head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title First Capture
    link(rel='stylesheet' type='text/css' href=`${base_path}/css/index.css`)
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,400i,600')
    script(src=`${base_path}/scripts/index.js`)

  body
    div#wrapper
      // HEAD
      header
        div.title Winguard Travels
        nav
          each name, page in pages
            if page === active_page
              a(href=`${base_path}/${page}.html`).hover-slide.active= name
            else
              a(href=`${base_path}/${page}.html`).hover-slide= name

      // CONTENT
      #content
        block content

    // FOOT
    block foot
      br
      footer
        span &copy; Winguard Travels 2017
        | &bullet;
        span Built by Darien Hess
